site_name: Situation
site_url: https://docs.situation.sh
repo_url: https://github.com/situation-sh/situation
docs_dir: docs
dev_addr: "127.0.0.1:12000"

theme:
  name: shadcn
  icon: "https://svgg.link/oo/eJzEkdFuKiEQhu9NfIfJeKMJLqNHOW2zeNH7PsRmRZYWwQAV-_YN29KafYHOZmH-PwPzAW28aridrYsSh5QuT5znnJv8r_FB8y0R8XjVCFej8rO_SSQg2O5F-fEwnwEAtEH1CbI5pkFi8WFQRg_pW5yMtRIXm__lQwg3iTtCCB9fM6-7aEihc_Hkw1nimNouqeVm12wZlHEFse-sWlLzuKq9x5WXLg1wlPiyIWKC-vXugREjJkTJhGA_mo26MjnvFEJMwb8piYvTGNVYW-NU310kBv_ujvjbr8Rdzas3rhZVv17G3fkmpHtRSCdgU_A_AW25PsxnbXn3w2cAAAD__yzhlMk="

markdown_extensions:
  - admonition
  - codehilite
  - fenced_code
  - footnotes
  - attr_list
  - pymdownx.keys
  - md_in_html
  - pymdownx.snippets
  - pymdownx.details
  - pymdownx.blocks.tab
  - footnotes
  - shadcn.extensions.iconify

plugins:
  - search:
  - excalidraw:
      directory: ./excalidraw/
  - macros:
      verbose: true
      module_name: docs/macros/main

extra_css:
  - css/extra.css
#   - css/nord.css

extra:
  variables:
    go_module: github.com/situation-sh/situation
    godoc_base_url: https://pkg.go.dev

