html,
body {
  scroll-behavior: smooth;
}

article > p {
  text-align: justify;
}

#modules table {
  font-size: x-small;
}

#modules table th {
  min-width: unset;
}

img.tag {
  display: inline-flex;
  margin: 0.15rem;
}

:root.dark img {
  filter: invert(100%);
}
