name: run

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v6
      # Setup Go
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true
      # build the binary
      - name: Build all binaries
        run: make all
      - name: Upload linux binary
        uses: actions/upload-artifact@v6
        with:
          name: situation-linux
          path: bin/situation-*-linux
          retention-days: 1
      - name: Upload windows binary
        uses: actions/upload-artifact@v6
        with:
          name: situation-windows
          path: bin/situation-*-windows.exe
          retention-days: 1

  linux:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          [
            "debian:10",
            "debian:12",
            "ubuntu:22.04",
            "ubuntu:24.04",
            "fedora:40",
            "fedora:42",
            "rockylinux:8.9",
            "rockylinux:9.3",
            "alpine:3.18",
            "alpine:3.21",
            "opensuse/leap:15.6",
          ]
    container:
      image: ${{ matrix.image }}
    steps:
      - name: Download linux binary
        uses: actions/download-artifact@v6
        with:
          name: situation-linux
          path: bin
      - name: Prepare binary
        run: |
          cp bin/situation-*-amd64-linux ./situation
          chmod +x ./situation
      - name: Run
        run: ./situation run --log-level=5 --db=db.sqlite --fail-fast
      - name: Run again
        run: ./situation run --log-level=5 --db=db.sqlite --fail-fast
      - name: Upload linux results
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.image }}-results
          path: db.sqlite
          retention-days: 1

  windows:
    needs: build
    runs-on: windows-latest
    steps:
      - name: Download windows binary
        uses: actions/download-artifact@v6
        with:
          name: situation-windows
          path: bin
      - name: Prepare binary
        run: |
          cp bin/situation-*-amd64-windows.exe ./situation.exe
      - name: Run the binary
        run: |
          .\situation.exe run --log-level=5 --db=db.sqlite --fail-fast
      - name: Run the binary again
        run: |
          .\situation.exe run --log-level=5 --db=db.sqlite --fail-fast
      - name: Upload windows results
        uses: actions/upload-artifact@v6
        with:
          name: windows-results
          path: db.sqlite
          retention-days: 1
